.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-body {
    flex: 1; /* pushing footer to the bottom :) */
    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1; /* content fills available space */
    display: flex;
    flex-direction: column;
}

.app-footer {
    padding: 1rem;
    text-align: center;
    opacity: 0.7;
    border-top: 1px solid var(--mui-divider-color); // MUI-friendly
}